# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
venv/
env/
instance/
*.sqlite3

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log

# Editor/IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Environment files
.env
.env.*
